<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>

    {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css"> 
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
   
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Логотип Meadowlark Travel">
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/tours/hood-river">Hood river</a></li>
            <li><a href="/tours/request-group-rate">Request group rate</a></li>
            <li><a href="/nursery-rhyme">nursery-rhyme</a></li>
        </ul>
    </nav>
    {{{body}}} 

    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>
        mocha.run();
    </script>
    {{/if}}

{{#section 'jquery'}}
<script>
    $('document').ready(function () {
        $('h1').html('jQuery работает');
    });
</script>
{{/section}}

{{{_sections.jquery}}}
</body>

</html>
